{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- <meta>: É uma tag HTML usada para fornecer metadados sobre o documento HTML. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/aula.css' %}">
    <script src="{% static 'js/aula.js' %}"></script>
    <title>Lovelace - Nossos Cursos</title>
    
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}" class="logo">Lovelace</a>
        </nav>      
    </header>
    {% include 'menu.html' %}
</body>