{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cadastro_existente.css' %}">
    <title>Cadastrar no Lovelace</title>
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}" class="logo">Lovelace</a>
        </nav>      
    </header>
    <div class="principal">
            <img src="{% static 'img/cadastro-existente-icon.png' %}" alt="">
            <a href="{% url 'cadastrar' %}">Cadastrar com outro e-mail</a>   
    </div>
     
           
</body>
</html>