{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="img/x-icon">
    <title>Login no Lovelace</title>
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}" class="logo">Lovelace</a>
        </nav>      
    </header>
    <div class="principal">
        <div class="blur-2">
            <img src="{% static 'img/blur-lovelace-left.png' %}" alt="">
        </div>   
        <div class="hero">
            <h2>Seja Bem Vinda(o)!</h2>
            <form class="hero-cadastro" method="POST">
                {% csrf_token %}
                <div class="hero-input">
                    <input type="email" placeholder="Seu email" name="email">
                    <input type="password" placeholder="Sua senha" name="senha">
                </div>
                <button class="hero-button">Entrar</button>
                <p>Não tem uma conta? <a href="{% url 'cadastrar' %}">Criar uma conta</a></p>
            </form>
            {% if login_incorreto %}
            <p class="error-message">Usuário ou senha incorretos. Por favor, tente novamente.</p>
            {% endif %}
        </div>
        <div class="blur1">
            <img src="{% static 'img/blur-left.png' %}" alt="">
        </div>
           
    </div>
     
           
</body>
</html>

</html>