{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/portal-do-aluno.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="img/x-icon">
    <script src="{% static 'js/portal-do-aluno.js' %}"></script>
    <title>Lovelace - Portal do Aluno</title>
</head>
<body> 
    <header>
        <nav>
            <span class="logo">Lovelace</span>
            <ul class="menu">
                <li><a href="{% url 'sobre' %}">Sobre Nós</a></li>
                <li><a href="{% url 'nossos-cursos' %}">Nossos Cursos</a></li>
            </ul> 
        </nav>  
    </header>
    
    {% include 'side-nav.html' %}
</body>
</html>